@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100...700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --font-mono: 'Fira Code';
    --font-family-body-custom: 'Anuphan';
    --font-family-headings-custom: 'Anuphan';
}

.badge {
    display: inline-block;
    font-size: 12px;
    font-family: 'Fira Code' !important;
    padding: 1px 5px;
    border-radius: 4px;
}

.badge-success {
    background: rgba(0 255 98 / 0.3);
    color: rgb(8 77 34);
}

.badge-neutral {
    background: rgba(0 0 0 / .075);
}